/* Tambahkan gaya untuk gambar aplikasi */
.app-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Tambahkan gaya untuk deskripsi aplikasi */
.app-description {
  text-align: center;
}

.app-description h2 {
  color: #333;
}

.app-description p {
  color: #666;
  margin-bottom: 30px;
}

/* Gaya tombol tetap sama */
button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
